<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <appSettings>
    <add key="spissuer" value="https://localhost:44379/" />
    <add key="acsurl" value="https://localhost:44379/?ssoaction=acs" />
    <add key="ssourl" value="" />
    <add key="idp_issuer" value="" />
    <add key="base_url" value="https://localhost:44379/" />
    <add key="spslourl" value="https://localhost:44379/?ssoaction=logout" />
    <add key="idpslourl" value="" />
    <add key="idp_cert" value="" />
    <add key="http-redirect" value="" />
    <add key="http-post" value="" />
    <add key="logout-http-redirect" value="" />
    <add key="logout-http-post" value="" />
    <add key="nameid" value="" />
    <add key="email" value="" />
    <add key="firstname" value="" />
    <add key="lastname" value="" />
    <add key="miniOrange_sp_certificate" value="" />
    <add key="autoredirect" value="" />
    <add key="signedloginreq" value="" />
    <add key="signedlogoutreq" value="" />
    <add key="headerbasedauth" value="" />
    <add key="cookiebasedauth" value="" />
    <add key="custom_attributes" value="" />
    <add key="app_endpoint_after_login" value="" />
    <add key="app_endpoint_after_logout" value="" />
    <add key="mo_saml_application_id" value="1Hl+1/WEkrmBWRQ5kYdWc+BN1Y4XIkFr" />
    <add key="customized_sso_url" value="" />
    <add key="customized_slo_url" value="" />
    <add key="userid" value="arthur.chen330@gmail.com" />
    <add key="password" value="ACxxt1ulZY55KsRH/Ubo5tgnwVLoC7RXtjaQgTNaepRQsHekBhzHDqwszE5BUpH9Ug==" />
    <add key="mo_saml_host_name" value="https://login.xecurify.com" />
    <add key="admin_customer_key" value="290202" />
    <add key="admin_api_key" value="RtKbMQ7a8B1gib8yq2SXOpixBdD6yAhS" />
    <add key="customer_token" value="1EIbCEfixdlGBBgX" />
    <add key="excludedurls" value="" />
    <add key="sessattrprefix" value="saml_sso_" />
    <add key="sml_lk" value="" />
    <add key="groupname" value="" />
    <add key="disablesso" value="false" />
    <add key="enabledebuglogs" value="false" />
    <add key="errormessagecheckbox" value="false" />
    <add key="idpname" value="google-apps" />
    <add key="configurationkey" value="" />
  </appSettings>
</configuration>